/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme{
    --color-primary-black: #0E0F0F;
    --color-secondary-black: #101111;
    --color-card-black: #141514;
    --color-dark-creame: #BEBCA8;
    --color-light-creame: #FEFCE1;
    
}

@layer utilities{
     @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    animation: marquee 15s linear infinite;
  }
}